.container a {
    text-decoration: none;
}

.item {
    width: 256px;
    min-height: 35px;
    background-color: white;
    color: black;
    font-family: 'Roboto';
    font-size: 18px;
    line-height: 21px;
    margin: 0 12px 7px;
    border: none;
    border-radius: 5px;
    padding: 2px;
    align-items: center;
    display: flex;
}

.text {
    margin: 7px 9px 6px 8px;
}
